.about{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnRuFaopoFiKNRfrEWVADRcSoU1vVStudbPQ&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
