.contact{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzCFWvFh3YL37aZ14sbAG3x4WK2P4ChAZ7KA&usqp=CAU') ;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.connect{
    background-color:rgb(117, 117, 236);
    font-style: oblique;

}
